@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
body {
  margin: 0;
  padding: 20px;
  font-family: Open Sans;
  color: #333333;
}
#header {
  font-weight: 800;
  font-size: 65px;
}
#holder {
  grid-template-columns: repeat(auto-fit, 186px);
}
.card_image > img {
  width: 80px;
  padding: 30px;
}
.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  background: #f9f9f9;
  box-shadow: 12.7879px 15.3775px 80px rgba(0, 0, 0, 0.07),
    8.28847px 9.96693px 46.8519px rgba(0, 0, 0, 0.0531481),
    4.92572px 5.9232px 25.4815px rgba(0, 0, 0, 0.0425185),
    2.55759px 3.07551px 13px rgba(0, 0, 0, 0.035),
    1.04198px 1.25299px 6.51852px rgba(0, 0, 0, 0.0274815),
    0.236813px 0.284769px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 16px;
}
.card_title {
  font-weight: 800;
  font-size: 55px;
  margin: 0px;
}
.card_text {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  margin-top: -10px;
  color: #333333;
}
.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_ip {
  padding-bottom: 10px;
}
.card_ip > a {
  font-weight: bold;
  font-size: 25px;
  color: #0e9ac7;
  text-decoration: none;
}
